*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.main{
    font-family: 'Work Sans';
}
.primary-btn{
    padding-top: 10px;
}
.primary-btn button{
    padding: 20px 36px;
    border: none;
    border-radius: 5px;
}
.primary-btn button a{
    font-weight: 600;
    font-size: 20px;
   color: #F15B22;;
}
/* footer-start */
.banner-1{
    height: 750px;
    background:url(../img/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-header{
    text-align: right;
    padding: 200px;
}
.banner-headding{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    
}
.banner-header p{
    color: #444343;
    padding: 24px 0;
    line-height: 24px;
}
.header-btn button a{
    font-weight: 600;
    font-size: 20px;
    color: #ffff;
}
.header-btn button{
    background-color: orangered;
    padding: 20px 26px;
    border: none;
    border-radius: 5px;
}
.header-btn{
    padding-right: 580px;
}

/* header-main-style */
.header-main-text{
    padding-right: 100px;
}
.header-main{
    display: flex;
    padding:0 230px;
    justify-content: space-between;
}
.header-main-text h2{
    padding-top: 270px;
    font-weight: 700;
    font-size: 40px;

}
.header-main-text > p{
    color: #444343;
    line-height: 26px;
    padding:30px 0;
}
.header-main-text-list ul li{
    padding-bottom: 5px;
}
.header-main-text-list ul li i{
    color: green;
}


/* my-plans section style start */
.my-plans{
    padding: 50px 230px;
}
.plans-main{
    display: flex;
    justify-content: space-between;
}
.plans-header h2{
    text-align: center;
    font-weight:700;
    font-size: 40px;
    text-transform: uppercase;
}
.plan{
    text-align: center;
    padding-top: 100px;
}
.plan h3{
    font-weight: 700;
    font-size: 30px;
    padding: 10px 0;
}
.plan p{
    font-weight: 500;
     font-size: 25px;
     color: #737272;
}
/* my-plans section style end */
/* team section style start */
.our-team{
    margin: 10px 230px;
}
.team-main{
    display: flex;
    justify-content: space-between;
}
.our-team-header h2{
    text-align: center;
    font-weight: 700;
    font-size:30px;
    padding: 20px 0;
}
.team-iteam{
    padding-top: 20px;
    width: 25%;
    text-align: center;
}
.team-iteam h3{
    font-weight: 700;
    font-size: 25px;
    padding: 5px 0;
}
/* team section style end */
/* call section style start */

.call-bg{
    padding: 50px;
    background:linear-gradient(to right,rgba(255, 68, 0, 0.849),rgba(143, 139, 133, 0.349)),url(../new-year-new-me/watch.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px 230px;
    border-radius: 10px;
}
.header-title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
.primary-btn{
    padding-top: 10px;
}
.primary-btn button{
    padding: 20px 36px;
    border: none;
    border-radius: 5px;
}
.primary-btn button a{
    font-weight: 600;
    font-size: 20px;
   color: #F15B22;;
}
/* call section style end */
/* footer section style start*/
footer{
    background-color:#151414;
    color: #FFFFFF;
}
.footer-main{
    padding: 50px 280px;
    display: flex;
    justify-content:space-between;
    gap: 500px;
}
.footer-iteam{
    width: 40%;
}
.footer-main-text p{
    padding-top: 10px;
    line-height: 26px;
}
.footer-main-icon{
    display: flex;
    gap: 20px;
}
.footer-main-icon i{
    padding-top: 10px;
    font-size: 24px;
}
.footer-iteam h3{
    font-weight: 600;
    font-size: 25px;
}
.footer-iteam input{
    margin-top: 10px;
    padding:10px 20px;
    border: 1px solid white;
    border-radius:5px;
    background-color:#151414;

}
.footer-iteam-btn{
    padding-top: 10px;
}
.footer-iteam-btn button{
    padding:10px 20px;
    border: none;
    border-radius: 4px;
}

.footer-iteam-btn button a{
    font-weight: 600;
    font-size: 16px;
   color: #F15B22;;
}
/* footer section style end */